<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="index.html">Strona główna</a>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Przypadki użycia <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <a href="usecases_term.html">Usługi terminologiczne</a>
        </li>
        <li>
          <a href="usecases_cat.html">Usługi katalogowe</a>
        </li>
      </ul>   
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Model logiczny <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <a href="model_term.html">Serwer terminologii</a>
        </li>
        <li>
          <a href="model_know.html">Baza wiedzy</a>
        </li>
        <li>
          <a href="model_cat.html">Laboratorium</a>
        </li>
      </ul>    
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Definicje <b class="caret"></b></a>
      <ul class="dropdown-menu">        
        <li>
          <a href="artifacts.html#1">Logiczne</a>
        </li>
        <li>
          <a href="artifacts.html#2">Profile</a>
        </li>
        <li>
          <a href="artifacts.html#3">Rozszerzenia</a>
        </li>
        <li>
          <a href="artifacts.html#4">Zbiory wartości</a>
        </li>
        <li>
          <a href="artifacts.html#5">Słowniki</a>
        </li>
        <li>
          <a href="artifacts.html#6">Instancje</a>
        </li>
      </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Przykłady <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <a href="examples_term.html">Baza wiedzy</a>
        </li>
        <li>
          <a href="examples_cat.html">Laboratorium</a>
        </li>
      </ul>    
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Zlecenie i wynik <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <a href="exchange_model.html">Model logiczny</a>
        </li>
        <li>
          <a href="exchange_artifacts.html">Profile i przykłady</a>
        </li>
      </ul>    
  </li>
</ul>